nav {
  background-color:#ccd5e3;
}
#title {
  margin-left: 10%;
  font-weight: bold
}
#admin {
  background-color: rgba(205, 214, 219, 0.5);;
  margin-right: 3%;
  margin-left: 10%;
}
#tabs {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%
}
#buttons {
  margin-top: 5%
}
#calendar {
  margin: 1% 1% 1% 1%
}
#calendar-header {
    padding: 5px;
    background-color: #333;
    color: #fff;
}
#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #333;
}
#calendar-body div {
    padding: 2px;
    background-color: #fff;
    text-align: center;
    position: relative;
}
.change-month {
    cursor: pointer;
}
#jile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

