{% extends "main.html" %}

{% block content %}
<h1 style="text-align:center">2024</h1>
<div id='jile'>
    {% for month in months %}
    <div id="calendar">
        <div id="calendar-header">
            <h1 style="text-align: center; font-size: 20px" id="month">{{ month }}</h1>
        </div>
        <div id="calendar-body">
            <div>Пн</div>
            <div>Вт</div>
            <div>Ср</div>
            <div>Чт</div>
            <div>Пт</div>
            <div>Сб</div>
            <div>Вс</div>
            <!-- Days of the month will go here -->
            {% for i in range(31) %}
            <a style="text-decoration:none; color: black " href="/calendar/events/{{ month }}/{{ loop.index }}">
                <div class="days">{{i + 1}}</div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}