{% extends "main.html" %}

{% block content %}

{% if events %}
<h2>{{events.month}} {{events.day}}, 2024</h2>
<h2>{{events.name}}</h2>
<h2>{{events.discription}}</h2>
<h2>id создателя {{events.owner_id}}</h2>
{% endif %}
{% if current_user.is_authenticated and current_user.id == events.owner_id or current_user.role == "admin" and events%}
<div>
    <a href="/calendar/events/edit/{{ events.month }}/{{ events.day }}" class="btn btn-warning">
        Изменить
    </a>
    <a href="/calendar/events/delete/{{ events.month }}/{{ events.day }}" class="btn btn-danger">
        Удалить
    </a>
</div>
     {% endif %}
{% if not events %}
<a class="btn btn-primary" href="/calendar/events/add/{{ month }}/{{ day }}" role="button" style="margin-top: 10px">Добавить Объявление</a>
{% endif %}


{% endblock %}
