<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-light">
			<h1 id="title">Online School Journal</h1>
			<button id="admin" type="button" class="btn">Админ-панель</button>
		</nav>
	</header>
	<!-- Begin page content -->
	<main role="main" class="container">
		<div id="tabs" class="btn-group" role="group" aria-label="Базовая группа переключателей радио">
			<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
			<label class="btn btn-outline-primary" for="btnradio1">Объявления</label>

			<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
			<label class="btn btn-outline-primary" for="btnradio2">Личный кабинет</label>

			<input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
			<label class="btn btn-outline-primary" for="btnradio3">Расписание уроков</label>

			<input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
			<label class="btn btn-outline-primary" for="btnradio4">Оценки</label>

			<input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
			<label class="btn btn-outline-primary" for="btnradio5">Мой класс</label>
		</div>
	</main>
</body>
</html>