{% extends "main.html" %}

{% block content %}

<div style="background-color: #ccd5e3; box-sizing: border-box; border-radius: 10px 10px 10px 10px; margin-top:20px; margin-bottom:10px">
    <div style="margin-left: 10px; padding: 10px 10px 10px 10px; word-wrap: normal">
<h3>Имя: {{ current_user.name }}</h3>
<h3>Фамилия: {{ current_user.surname }}</h3>
        <h3>Назначение в системе: {{ current_user.role }}</h3>
        {% if current_user.role == "student" %}
        <h3>Класс обучения: {{ current_user.class_student }}</h3>
        {% endif %}
<h3>ID: {{ current_user.id }}</h3>
        </div>
</div>
<a class="btn btn-danger" href="/logout" role="button">Выйти</a>


{% endblock %}