{% extends "main.html" %}

{% block content %}

{% for item in ads %}
<div>
    <h2>
        {{item.ad_name}}
    </h2>
    <h4>{{item.discription}}</h4>
    <h5>{{current_user.name}} {{current_user.surname}}</h5>
    <h5>{{item.date}}</h5>
    <h5>{{item.owner_id}}</h5>
</div>
{% if current_user.is_authenticated and current_user.id == item.owner_id or current_user.role == "admin" %}
    <div>
        <a href="/ads/edit/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/ads/delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}

{% endfor %}

{% endblock %}
