{% extends "main.html" %}

{% block content %}
<div id="buttons">
    <a class="btn btn-primary" href="/ads/add" role="button">Добавить Объявление</a>
    <a class="btn btn-primary" href="/menu/calendar" role="button">Добавить событие</a>
    <a class="btn btn-primary" href="/menu/admin/list/users" role="button">Список пользователей</a>
    <a class="btn btn-primary disabled" href="/menu/admin/list/register" role="button" aria-disabled="true">Список заявок на регистрацию</a>


</div>
{% endblock %}